<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="mongo" class="com.mongodb.Mongo" scope="singleton" destroy-method="close">
        <constructor-arg name="host" value="${mongodb.host}" />
        <constructor-arg name="port" value="${mongodb.port}" />
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://${mysql.host}:${mysql.port}/${mysql.database}" />
		<property name="username" value="${mysql.user}" />
		<property name="password" value="${mysql.password}" />
        <property name="initialSize" value="5" />
        <property name="maxActive" value="10" />
	</bean>

</beans>